<div class="container-fluid">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <%= image_tag("b.jpg", class: 'img-fluid') %>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <%= image_tag("c.jpg") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("d.jpg") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<% if (current_client_devise)%>
<%= render 'login'%>
<% else %>
<%= render 'logout'%>
<% end %>
