<%= form_with(model: prueba, local: true) do |form| %>
  <% if prueba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prueba.errors.count, "error") %> prohibited this prueba from being saved:</h2>

      <ul>
      <% prueba.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="field">
    <%= form.label :people %>
    <%= form.number_field :people %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
